/* content.css */
.downloadBtn {
  position: fixed;
  bottom: 80px;
  right: 50px;
  padding: 10px 16px;
  color: white;
  border: 1px solid green;
  border-radius: 6px;
  cursor: pointer;
  z-index: 100;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.downloadBtn:hover {
  box-shadow: 4px 4px rgb(191, 231, 131);
}
